<h4>Welcome to Cartopia.</h4>
<p>Hello {{ firstname }} {{ lastname }},</p>
<p>Use the details below to login to your cartopia acount.</p>

<div>
    <p>email: <strong>{{email}}</strong></p>
    <p>password: <strong>{{password}}</strong></p>
</div>

<p>Ensure to change to your desired password after login.</p>